/*
* Base colors
*/
$colorMain: #6daa3b;

$loginAlert:#fff;

$logoName:#fff;
$logoSubname:#98ce6c;
$baseTextColor: #fff;

$leftBlockBg:#fff;
$backgroundColorA:"../images/color-a.png";

$tabsInfo:#98ce6c;
$mainMenueInfo:#98ce6c; // Info-Span in Mainmenue

$bigCalToday:#d1f0b5; //day in the Big Calendar

$footer: #6ab0c5;

$green:#598a31;
$greenbg:#d1f0b5;
$red:#8a3630;
$redbg:#e8dbdb;

/*
* Main menu tabs
*/
$menuTabDesktop: url(../images/main-desk.png) no-repeat 0 0;
$menuTabProfileMale: url(../images/main-prof-male.png) no-repeat 0 0;
$menuTabProfileFemale: url(../images/main-prof-female.png) no-repeat 0 0;
$menuTabAdmin:url(../images/main-settings.png) no-repeat 0 0;
$menuTabLogout: url(../images/main-logout.png) no-repeat 0 0;

/*
* Submenu tabs
*/
$submenuProjectSettings: url(../images/main-admin-a.png) no-repeat 0 0;
$submenuUserSettings: url(../images/main-admin-b.png) no-repeat 0 0;
$submenuSystemSettings: url(../images/main-admin-c.png) no-repeat 0 0;
$submenuCustomerSettings: url(../images/main-admin-d.png) no-repeat 0 0;

/*
* Block colors
*/
$projectsMain:#598a31;
$projectsB:#bacfa8; // Borders in Forms
$projectsC:#6daa3b; // Buttons Hover

$projectsBlockhead:#598a31;
$projectsTablehead:#f8faf9;
$projectsTableSecondhead:#f7f9f8; // closed Things

$projectsColorA:#e5e7e6; // ColorMix Rows
$projectsColorB:#f5f7f6; // ColorMix Rows
$projectsColorC:url(../images/tables-projects-bg-c.png); // Files in Messages

$tasksMain:#598a31;
$tasksB:#bacfa8; // Borders in Forms
$tasksC:#6daa3b; // Buttons Hover

$tasksBlockhead:#598a31;
$tasksTablehead:#f8faf9;
$tasksTableSecondhead:#f7f9f8; // closed Things

$tasksColorA:#e5e7e6; // ColorMix Rows
$tasksColorB:#f5f7f6; // ColorMix Rows
$tasksColorC:url(../images/tables-tasks-bg-c.png); // Files in Messages

$msgsMain:#598a31;
$msgsB:#bacfa8; // Borders in Forms
$msgsC:#6daa3b; // Buttons Hover
$msgsBlockhead:#598a31;
$msgsTablehead:#f8faf9;
$msgsTableSecondhead:#f7f9f8; // closed Things
$msgsColorA:#e5e7e6; // ColorMix Rows
$msgsColorB:#f5f7f6; // ColorMix Rows
$msgsColorC:url(../images/tables-projects-bg-c.png); // Files in Messages

$userMain:#598a31;
$userB:#bacfa8; // Borders in Forms
$userC:#6daa3b; // Buttons Hover
$userBlockhead:#598a31;
$userTablehead:#f8faf9;
$userTableSecondhead:#f7f9f8; // closed Things
$userColorA:#e5e7e6; // ColorMix Rows
$userColorB:#f5f7f6; // ColorMix Rows
$userColorC:url(../images/tables-projects-bg-c.png); // Files in Messages

$milesMain:#598a31;
$milesB:#bacfa8; // Borders in Forms
$milesC:#6daa3b; // Buttons Hover
$milesBlockhead:#598a31;
$milesTablehead:#f8faf9;
$milesTableSecondhead:#f7f9f8; // closed Things
$milesColorA:#e5e7e6; // ColorMix Rows
$milesColorB:#f5f7f6; // ColorMix Rows
$milesColorC:url(../images/tables-projects-bg-c.png); // Files in Messages

$neutralMain:#598a31;
$neutralB:#bacfa8; // Borders in Forms
$neutralC:#6daa3b; // Buttons Hover
$neutralBlockhead:#598a31;
$neutralTablehead:#f8faf9;
$neutralTableSecondhead:#f7f9f8; // closed Things
$neutralColorA:#e5e7e6; // ColorMix Rows
$neutralColorB:#f5f7f6; // ColorMix Rows
$neutralColorC:url(../images/tables-projects-bg-c.png); // Files in Messages

$timetrackMain:#598a31;
$timetrackB:#bacfa8; // Borders in Forms
$timetrackC:#6daa3b; // Buttons Hover
$timetrackBlockhead:#598a31;
$timetrackTablehead:#f8faf9;
$timetrackTableSecondhead:#f7f9f8; // closed Things
$timetrackColorA:#e5e7e6; // ColorMix Rows
$timetrackColorB:#f5f7f6; // ColorMix Rows
$timetrackColorC:url(../images/tables-projects-bg-c.png); // Files in Messages

$filesMain:#598a31;
$filesB:#bacfa8; // Borders in Forms
$filesC:#6daa3b; // Buttons Hover
$filesBlockhead:#598a31;
$filesTablehead:#f8faf9;
$filesTableSecondhead:#f7f9f8; // closed Things
$filesColorA:#e5e7e6; // ColorMix Rows
$filesColorB:#f5f7f6; // ColorMix Rows
$filesColorC:url(../images/tables-projects-bg-c.png); // Files in Messages
