#sitebody {
	min-height:100%;
}
* html #sitebody {
	height:100%;
}

#contentwrapper {
	width: 980px;
	margin: 0 auto 26px auto; /* same as footer-height (for IE 7) */
}

/*# Form Button # */
.butn button {
	height:24px;
	line-height:21px;
	padding:0 8px 0px 3px;
	overflow:visible;
	width:auto;
}
/*# UL LI Tables # */
.content_left ul li{
	float:left;
}

/*# Calender # */

div#calendar table{
	border-collapse: collapse;
}


/* Datepicker */
.datepick .picker {
	width: 187px;
	top: -239px;
}