Thumbs.db


.settings
.project
.buildpath
*.swp
*.swo

templates_c/*
files/*
templates/mobile/*
.idea/
.include/js/vue/*
!files/collabtive.sdb
*.directory
*.lock
composer.phar
composer.json
vendor/composer/installed.json

VueCompiler.jar
*.zip

include/js/views/mobile/*
include/dav/*
managetasksoverview.php
plugins/*
plugins/templates/*
plugins/plugin.ganttChart.php
plugins/gantt/*
plugins/conference/*
plugins/plugin.taskComments.php
plugins/taskComments/*
plugins/plugin.globalTaskOverview.php
plugins/globalTaskOverview/*
plugins/plugin.projectTemplates.php
plugins/projectTemplates/*
projectTemplates.php
conference.php
plugins/plugin.conference.php
include/class.detectmobile.php
plugins/plugin.mobileWebApp.php
managecomments.php
include/js/components/listCommentsComponent.js
include/js/components/listCommentsComponent.min.js
*.backup
dav.php
include/class.myDavDirectory.php
include/class.myDavFile.php
*.sql
dav.php
dav.php
dav.php