Thumbs.db

//Eclipse
.settings
.project
.buildpath
*.swp
*.swo

templates_c/*
plugins/gantt/*
files/*
.idea/
.include/js/vue/*
!files/collabtive.sdb
*.directory
*.lock
composer.phar
composer.json
vendor/composer/installed.json
vendor/composer/installed.json
VueCompiler.jar
*.zip
plugins/plugin.ganttChart.php
plugins/templates/ganttChart.tpl
managetasksoverview.php
plugins/plugin.taskComments.php
plugins/templates/taskComments/addTaskComment.tpl
plugins/templates/taskComments/taskComments.tpl
templates/standard/filtertasks.tpl
templates/standard/tasksOverviewView.tpl
plugins/taskComments/taskComments.js
plugins/taskComments/taskComments.min.js
plugins/globalTaskOverview/templates/tasksOverviewNavigation.tpl
plugins/plugin.globalTaskOverview.php
plugins/plugin.projectTemplates.php
plugins/globalTaskOverview/templates/filtertasks.tpl
projectTemplates.php
plugins/projectTemplates/templates/projectTemplatesAdmin.tpl
plugins/projectTemplates/templates/addtemplate.tpl
plugins/globalTaskOverview/templates/tasksOverviewView.tpl
