Thumbs.db

//Eclipse
.settings
.project
.buildpath
*.swp
*.swo

templates_c/*
files/*
.idea/
.include/js/vue/*
!files/collabtive.sdb
*.directory
*.lock
composer.phar
composer.json
vendor/composer/installed.json
vendor/composer/installed.json
