/*
* Base colors
*/
$colorMain: #001e40;

$loginAlert:#fac3b7;

$logoName:#fff;
$logoSubname:#6ab0c5;
$baseTextColor: #6d7f93;

$leftBlockBg:#fff;
$backgroundColorA:"../images/color-a.png";

$tabsInfo:#c5d2e1;
$mainMenueInfo:#c5d2e1; // Info-Span in Mainmenue

$bigCalToday:#eaf6e3; //day in the Big Calendar

$green:#009359;
$greenbg:#e0f1db;
$red:#be4c43;
$redbg:#e7dcda;

/*
* Main menu tabs
*/
$menuTabDesktop: url(../images/main-desk.png) no-repeat 0 0;
$menuTabProfileMale: url(../images/main-prof-male.png) no-repeat 0 0;


/*
* Block colors
*/
$projectsMain:#3f7174;
$projectsB:#8caaac; // Borders in Forms
$projectsC:#275154; // Buttons Hover

$projectsBlockhead:url(../images/tables-projects-head.png);
$projectsTablehead:url(../images/tables-projects-thead.png);
$projectsTableSecondhead:url(../images/tables-projects-sechead.png); // closed Things

$projectsColorA:url(../images/tables-projects-bg-a.png); // ColorMix Rows
$projectsColorB:url(../images/tables-projects-bg-b.png); // ColorMix Rows
$projectsColorC:url(../images/tables-projects-bg-c.png); // Files in Messages

$tasksMain:#365a76;
$tasksB:#869cad; // Borders in Forms
$tasksC:#203d56; // Buttons Hover

$tasksBlockhead:url(../images/tables-tasks-head.png);
$tasksTablehead:url(../images/tables-tasks-thead.png);
$tasksTableSecondhead:url(../images/tables-tasks-sechead.png); // closed Things

$tasksColorA:url(../images/tables-tasks-bg-a.png); // ColorMix Rows
$tasksColorB:url(../images/tables-tasks-bg-b.png); // ColorMix Rows
$tasksColorC:url(../images/tables-tasks-bg-c.png); // Files in Messages

$msgsMain:#65635e;
$msgsB:#a3a19e; // Borders in Forms
$msgsC:#464440; // Buttons Hover

$msgsBlockhead:url(../images/tables-msgs-head.png);
$msgsTablehead:url(../images/tables-msgs-thead.png);
$msgsTableSecondhead:url(../images/tables-msgs-sechead.png); // closed Things

$msgsColorA:url(../images/tables-msgs-bg-a.png); // ColorMix Rows
$msgsColorB:url(../images/tables-msgs-bg-b.png); // ColorMix Rows
$msgsColorC:url(../images/tables-msgs-bg-c.png); // Files in Messages

$userMain:#576d5a;
$userB:#bbcbbb; // Borders in Forms
$userC:#3d573f; // Buttons Hover

$userBlockhead:url(../images/tables-user-head.png);
$userTablehead:url(../images/tables-user-thead.png);
$userTableSecondhead:url(../images/tables-user-sechead.png); // closed Things
$userColorA:url(../images/tables-user-bg-a.png); // ColorMix Rows
$userColorB:url(../images/tables-user-bg-b.png); // ColorMix Rows
$userColorC:url(../images/tables-user-bg-c.png); // Files in Messages

$milesMain:#824e48;
$milesB:#b49591; // Borders in Forms
$milesC:#62332e; // Buttons Hover

$milesBlockhead:url(../images/tables-miles-head.png);
$milesTablehead:url(../images/tables-miles-thead.png);
$milesTableSecondhead:url(../images/tables-miles-sechead.png); // closed Things
$milesColorA:url(../images/tables-miles-bg-a.png); // ColorMix Rows
$milesColorB:url(../images/tables-miles-bg-b.png); // ColorMix Rows
$milesColorC:url(../images/tables-miles-bg-c.png); // Files in Messages

$neutralMain:#6f6d6e;
$neutralB:#a9a7a8; // Borders in Forms
$neutralC:#4f4e4e; // Buttons Hover

$neutralBlockhead:url(../images/tables-neutral-head.png);
$neutralTablehead:url(../images/tables-neutral-thead.png);
$neutralTableSecondhead:url(../images/tables-neutral-sechead.png); // closed Things
$neutralColorA:url(../images/tables-neutral-bg-a.png); // ColorMix Rows
$neutralColorB:url(../images/tables-neutral-bg-b.png); // ColorMix Rows
$neutralColorC:url(../images/tables-neutral-bg-c.png); // Files in Messages

$timetrackMain:#8f5f45;
$timetrackB:#bc9f8f; // Borders in Forms
$timetrackC:#6f412c; // Buttons Hover

$timetrackBlockhead:url(../images/tables-timetracking-head.png);
$timetrackTablehead:url(../images/tables-timetracking-thead.png);
$timetrackTableSecondhead:url(../images/tables-timetracking-sechead.png); // closed Things
$timetrackColorA:url(../images/tables-timetracking-bg-a.png); // ColorMix Rows
$timetrackColorB:url(../images/tables-timetracking-bg-b.png); // ColorMix Rows
$timetrackColorC:url(../images/tables-timetracking-bg-c.png); // Files in Messages

$filesMain:#484f64;
$filesB:#9195a2; // Borders in Forms
$filesC:#2e3345; // Buttons Hover

$filesBlockhead:url(../images/tables-files-head.png);
$filesTablehead:url(../images/tables-files-thead.png);
$filesTableSecondhead:url(../images/tables-files-sechead.png); // closed Things
$filesColorA:url(../images/tables-files-bg-a.png); // ColorMix Rows
$filesColorB:url(../images/tables-files-bg-b.png); // ColorMix Rows
$filesColorC:url(../images/tables-files-bg-c.png); // Files in Messages
